@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.navBarContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
  height: 15vh;
  background-color: white;
}

.logo{
  font-size: 20px;
  color: black;
  grid-column: 1/2;
  font-weight: 600;
}

.navLinks{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  grid-column: 2/4;
}

.navLinks li a{
  color: black;
  font-weight: 500;
  font-size: 15px;
  width: 150px;
}

.cartIcon{
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.itemListContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  background-color: #ededed;
}

.vehicle{
  display: flex;
  margin:  10px 8px;
  flex-direction: column;
  background-color: white;
  color: black;
  cursor: pointer;
}

.vehicle:hover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.vehicle .vehicleImg{
  width: 100%;
}

.vehicle .vehicleImg img{
  width: 100%;
}

.vehicle .vehicleInfo{
  padding: 5px 10px;
}

.vehicle .vehicleInfo p{
  padding: 3px 0;
  font-size: 15px;
  font-weight: 500;
}

.vehicle .vehicleInfo .precio{
  font-size: 15px;
  font-weight: 600;
}

.itemDetailsContainer{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}

.car{
  width: 80%;
  display: flex;
  align-items: center;
  background-color: white;
}

.car img{
  height: 400px;
}

.car .carInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car .carInfo p{
  margin-bottom: 15px;
  font-weight: 500;
}

.car .carInfo .carInfoTitulo{
  font-size: 20px;
  font-weight: 600;
}